= nested_form_for map_collection, :html => {:id => 'map_form', :role => 'form', :multipart => true} do |f|
  .row
    .col-sm-6
      .form-group
        = f.label :title
        = f.text_field :title, :class => 'form-control'
  .row
    .col-sm-6
      .form-group
        = f.label :logo
        = f.file_field :logo
  .row
    .col-sm-6
      .form-group
        = f.label :description
        = f.text_area :description, :class => 'form-control', :rows => 5

  %h2 Mapy
  %p
    %strong Soubor map nelze uložit, pokud je hned při založení zadána i nějaká mapa. Nejdříve soubor vytvořte bez map, poté mapy přidejte v editaci.

  = render :partial => 'form_fields_map', :locals => {:f => f}

  = f.submit 'Uložit', :class => 'btn btn-primary'
