= f.fields_for :map_collection_memberships do |map_collection_membership_form|
  .row
    .col-sm-4.col-lg-5
      .form-group
        = map_collection_membership_form.label :map_id, "Mapa"
        = map_collection_membership_form.select :map_id, Map.order(:title).map{|x| ["#{x} [#{x.id}]", x.id]}, {:include_blank => true}, :class => "mapSelect form-control"
    .col-sm-2.col-lg-1
      .form-group
        = map_collection_membership_form.label :year, "Rok"
        = map_collection_membership_form.text_field :year, :class => 'form-control'
    .col-sm-5
      .form-group
        = map_collection_membership_form.label :note, "Poznámka"
        = map_collection_membership_form.text_field :note, :class => 'form-control'
    .col-sm-1
      = map_collection_membership_form.link_to_remove icon('times')

%p= f.link_to_add "#{icon('plus-circle')} přidat mapu".html_safe, :map_collection_memberships

:javascript
  function mapSelect(e) {
    e.select2({
      theme: 'bootstrap',
      width: '100%'
    });
  }

  $(function() {
    mapSelect($('.mapSelect'));
  });

  $(document).on('nested:fieldAdded', function(event){
    var field = event.field;
    var mapField = field.find('.mapSelect');
    mapSelect(mapField);
  });
