%p &nbsp;
%div.panel.panel-primary
  %div.panel-heading 
    %h4.panel-title Schválit evidovanou mapu nebo vrátit k doplnění
  %div.panel-body
    %p Pokud jsou všechny údaje v pořádku pro definitivní schválení záznamu, lze mapu schválit a záznam uzamknout.
    = button_to "Schválit", [:authorize_completion, @map], class:'btn btn-primary', form: {id: 'authorize_completion_form'}
    %hr
    %p Pokud je potřeba údaje doplnit nebo změnit, lze záznam vrátit žadateli (#{print_user @map.created_by, true}) k doplnění.
    = form_tag([:reject_completion, @map], id: "reject_completion_form") do
      %h5 Komentář / zpráva pro žadatele
      = text_area_tag "map[comment]", "", size: "80x8"
      %br 
      = submit_tag "Vrátit k doplnění", class:'btn btn-danger'
    