= f.fields_for :cartographers do |cartographer_form|
  %div.form-group
    %div.col-sm-4
      = cartographer_form.select :author_id, Author.all.map{|x| [x.to_s, x.id]}, {:include_blank => true}, {:class => "authorSelect", :style => "width:90%"}
      = map_attribute_label(:author_name, :edit_short)
    %div.col-sm-4
      = cartographer_form.select :role, options_for_select(Cartographer::CARTOGRAPHER_ROLES.map{|x| [t("mapserver.cartographer_roles.#{x}"), x]}, cartographer_form.object.role), {}, :style => "width:90%", :class => "roleSelect"
      = map_attribute_label(:author_role, :edit_short)
    %div.col-sm-4
      = cartographer_form.link_to_remove icon('times')
%p= f.link_to_add "#{icon('plus-circle')} přidat autora".html_safe, :cartographers

:javascript
  function authorSelect(e) {
    e.select2({
      tags: true
    });
  }

  $(function() {
    authorSelect($('.authorSelect'));
    $(".roleSelect").select2();
  });

  $(document).on('nested:fieldAdded', function(event){
    var field = event.field;
    var authorField = field.find('.authorSelect');
    var roleField = field.find('.roleSelect');
    authorSelect(authorField);
    roleField.select2();
  });
