%div.form-group
  = f.label :created_by_id, map_attribute_label(:created_by), :class => 'col-sm-2'
  %div.col-sm-2= f.object.created_by ? print_user(f.object.created_by) : "archiv ČSOS"
  = f.label :id, map_attribute_label(:id_), :class => 'col-sm-2'
  %div.col-sm-3 
    = f.object.id || '---'
    = " / "
    = f.object.state_
  = f.label :map_family, map_attribute_label(:map_family), :class => 'col-sm-2'
  %span.col-sm-1= f.object.map_family_

%div.form-group
  = f.label :title, map_attribute_label(:title), :class => 'col-sm-2'
  %span.col-sm-2= f.object.title
  = f.label :patron, map_attribute_label(:patron), :class => 'col-sm-1'
  %span.col-sm-1= f.object.patron 
  = f.label :year, map_attribute_label(:year), :class => 'col-sm-2'
  %span.col-sm-1= f.object.year
  = f.label :identifier_filing, map_attribute_label(:identifier_filing), :class => 'col-sm-2'
  %span.col-sm-1= print_identifier_filing f.object.identifier_filing

%div.form-group
  = f.label :map_sport, map_attribute_label(:map_sport), :class => 'col-sm-2'
  %span.col-sm-1= f.object.map_sport_
  = f.label :map_type, map_attribute_label(:map_type), :class => 'col-sm-2'
  %span.col-sm-2= f.object.map_type_
  = f.label :scale, map_attribute_label(:scale), :class => 'col-sm-1'
  %span.col-sm-1 1:#{f.object.scale}
  = f.label :equidistance, map_attribute_label(:equidistance), :class => 'col-sm-2'
  %span.col-sm-1 #{f.object.equidistance} m

%div.form-group
  = f.label :oris_event_id, map_attribute_label(:main_race), :class => 'col-sm-2'
  = f.select :oris_event_id, "<option value=\"0\"#{f.object.oris_event_id == 0 ? 'selected' : ''}>(žádný závod)</option>".html_safe + options_from_collection_for_select(f.object.year ? OrisEvent.in_year(f.object.year) : OrisEvent.sorted, :id, :to_label, f.object.oris_event_id), {:include_blank => true}, :class => 'col-sm-6'
  = f.label :main_race_date, map_attribute_label(:main_race_date), :class => 'col-sm-2'
  = f.text_field :main_race_date, :class => 'col-sm-2', :type => 'date'

%div.form-group
  = f.label :main_race_title, map_attribute_label(:main_race_title), :class => 'col-sm-2'
  = f.text_field :main_race_title, :class => 'col-sm-4'
  = f.label :non_oris_event_url, map_attribute_label(:non_oris_event_url), :class => 'col-sm-2'
  = f.url_field :non_oris_event_url, :class => 'col-sm-4'

%div.form-group
  = f.label :region, map_attribute_label(:region), :class => 'col-sm-2'
  %span.col-sm-1= Map::REGIONS[f.object.region]
  = f.label :locality, map_attribute_label(:locality), :class => 'col-sm-2'
  = f.text_field :locality, :class => 'col-sm-7'

%div.form-group
  = f.label :note_public, map_attribute_label(:note_public), :class => 'col-sm-2'
  = f.text_field :note_public, :class => 'col-sm-10'
/
/ %div.form-group
/   = f.label :note_internal, map_attribute_label(:note_internal), :class => 'col-sm-2'
/   = f.text_field :note_internal, :class => 'col-sm-10'

%div.form-group
  = f.label :resource, map_attribute_label(:resource), :class => 'col-sm-2'
  = f.text_field :resource, :class => 'col-sm-2'
  = f.label :georeference, map_attribute_label(:georeference), :class => 'col-sm-2'
  = f.select :georeference, Map::GEOREFERENCES.map{|x| [t("mapserver.map_enums.georeference.#{x}"), x]}, {:include_blank => true}, :class => 'col-sm-2'
  = f.label :identifier_other, map_attribute_label(:identifier_other), :class => 'col-sm-2'
  = f.text_field :identifier_other, :class => 'col-sm-2'

%div.form-group
  = f.label :issued_by, map_attribute_label(:issued_by), :class => 'col-sm-2'
  = f.text_field :issued_by, :class => 'col-sm-6'
  = f.label :printed_by, map_attribute_label(:printed_by), :class => 'col-sm-2'
  = f.text_field :printed_by, :class => 'col-sm-2'

%div.form-group
  = f.label :drawing_technique, map_attribute_label(:drawing_technique), :class => 'col-sm-2'
  = f.select :drawing_technique, Map::DRAWING_TECHNIQUES.map{|x| [t("mapserver.map_enums.drawing_technique.#{x}"), x]}, {:include_blank => true}, :class => 'col-sm-2'
  = f.label :printing_technique, map_attribute_label(:printing_technique), :class => 'col-sm-2'
  = f.select :printing_technique, Map::PRINTING_TECHNIQUES.map{|x| [t("mapserver.map_enums.printing_technique.#{x}"), x]}, {:include_blank => true}, :class => 'col-sm-2'
  = f.label :mapping_state, map_attribute_label(:mapping_state), :class => 'col-sm-2'
  = f.text_field :mapping_state, :class => 'col-sm-2'

%div.form-group
  = f.label :administrator, map_attribute_label(:administrator), :class => 'col-sm-2'
  = f.text_field :administrator, :class => 'col-sm-6'
  = f.label :administrator_email, map_attribute_label(:administrator_email), :class => 'col-sm-2'
  = f.text_field :administrator_email, :class => 'col-sm-2'

