%h2
  - case @map.map_family
  - when Map::MAP_FAMILY_MAP
    = "Obrys mapy"
  - when Map::MAP_FAMILY_EMBARGO
    = "Obrys embarga"

- if map.shape_as_coords.empty?

  %div.well Pro tuto mapu není obrys dostupný.

- else
  %div#inline_map_canvas(style="width:100%;min-height:400px;height:400px")

  :javascript
    let polygon;

    $(window).load(function() {
      map = setupMap(document.getElementById('inline_map_canvas'), false);
      polygon = setMapPolygon(map, polygon, [#{@map.shape_json.blank? ? nil : (JSON[@map.shape_json].map{|x| %{new google.maps.LatLng("#{x[0]}", "#{x[1]}")}} * ", ").html_safe}], false);
    });
