%h1 Doplnit informace pro mapu #{@map}

- if @map.errors.any?
  %ul.map_errors.bs-callout.bs-callout-danger
    - @map.errors.messages.each do |key, err|
      %li
        %strong= Map.human_attribute_name(key)
        #{err * " a "}

- @map.shape_json ||= @map.shape_as_coords
= nested_form_for @map, :url => url_for([:complete, @map]), :html => {:id => 'map_form', :role => 'form', :multipart => true} do |f|

  %h2= t("mapserver.mapBasicData")

  = render :partial => 'form_fields_basic_completion', :locals => {:f => f}

  %h2= t("mapserver.mapAuthors")

  = render :partial => 'form_fields_authors', :locals => {:f => f}

  %h2= t("mapserver.mapPreview")

  %div.well(style="overflow:auto")
    Vložit náhled
    = file_field_tag "file", class: 'col-sm-3'

  %h2 Obrys mapy

  = render :partial => 'form_inline_map', :locals => {:f => f}

  %div(style="margin-top:20px;margin-bottom:40px")
    %button(type="button" class="btn submit-btn btn-primary") Uložit mapu

:javascript
  var polygon;

  $(function() {
    map = setupMap(document.getElementById('inline_map_canvas'), false);
    setupMapEditor(map);
    polygon = setMapPolygon(map, polygon, [#{@map.shape_json.blank? ? nil : (JSON[@map.shape_json].map{|x| %{new google.maps.LatLng("#{x[0]}", "#{x[1]}")}} * ", ").html_safe}]);
    setupMapEditorSubmit();
    fixMapHeight($('#inline_map_canvas'));
  });
