%h1= t('mapserver.downloadSearchHead') 

- if @list and @list.size > 0

  %p= t('mapserver.downloadSearchResults', :count => @list.size)

  %h2= t('mapserver.downExport')

  %ul
    /%li= link_to "KML", :list => @list.to_json, :format => :kml
    %li= link_to "CSV", :list => @list.to_json, :format => :csv
    %li= link_to "XLS", :list => @list.to_json, :format => :xls

  %p= t("mapserver.downNote")
- else
  %p Pravděpodobně došlo k chybě při hledání, zkuste to, prosím, znovu.