%h1
  - if @map.state == Map::STATE_CHANGE_REQUESTED
    Doplnit ohlášení připravované mapy #{@map.title}
  - else
    Ohlásit připravovanou mapu

- patrons = current_user.patrons
- if patrons.size == 1
  - @map.patron = patrons.first.abbreviation

- if @map.errors.any?
  %ul.map_errors.bs-callout.bs-callout-danger
    - @map.errors.messages.each do |key, err|
      %li
        %strong= Map.human_attribute_name(key)
        #{err.uniq * " a "}
- else
  .well
    - if @map.state == Map::STATE_CHANGE_REQUESTED
      Koordinátor / krajský kartograf vrátil žádost zpět žadateli o evidenční číslo. Po opravě / doplnění bude žádost opět postoupena příslušnému krajskému kartografovi ke schválení.
    - else
      Tento formulář slouží k žádosti o přidělení evidenčního čísla pro mapu na připravovaný oficiální závod ČSOS. O žádosti bude informován krajský kartograf a po jeho schválení bude evidenční číslo definitivně přiděleno.

= nested_form_for @map, :url => register_maps_path, :method => :post, :html => {:id => 'map_form', :role => 'form', :class => 'form', :multipart => true} do |f|

  %h2= t("mapserver.mapBasicData")

  = f.hidden_field :created_by_id
  = f.hidden_field :id
  = f.hidden_field :identifier_filing
  = f.hidden_field :state
  = f.hidden_field :map_family

  .row
    .col-md-6
      .form-group
        = f.label :title, map_attribute_label(:title, :edit)
        = f.text_field :title, :class => 'form-control'
    .col-sm-6.col-md-3
      .form-group
        = f.label :patron, map_attribute_label(:patron, :edit)
        - if patrons.size == 1
          = f.text_field :patron, :class => 'form-control', :disabled => true, :value => "#{patrons.first.abbreviation} -- #{patrons.first.name}"
          = f.hidden_field :patron
        - elsif patrons.any?
          = f.select :patron, patrons.map{|x| ["#{x.abbreviation} - #{x.name}", x.abbreviation]}, {:include_blank => true, :class => 'form-control'}
      = f.hidden_field :patron_accuracy
    .col-sm-6.col-md-3
      .form-group
        = f.label :region, map_attribute_label(:region, :edit)
        = f.select :region, Map::REGIONS_OPTIONS, {:include_blank => true}, :class => 'form-control'

  .row
    - if f.object.identifier_filing.blank?
      .col-md-6
        .form-group
          = f.label :locality, map_attribute_label(:locality, :edit)
          = f.text_field :locality, :class => 'form-control'
    - else
      .col-sm-6.col-md-3
        .form-group
          = f.label :locality, map_attribute_label(:locality, :edit)
          = f.text_field :locality, :class => 'form-control'
      .col-sm-6.col-md-3
        .form-group
          = f.label :identifier_filing, map_attribute_label(:identifier_filing, :edit)
          = f.text_field :identifier_filing, :class => 'form-control', :disabled => true, :value => f.object.identifier_filing
    .col-xs-6.col-sm-4.col-md-2
      .form-group
        = f.label :year, map_attribute_label(:year, :edit)
        = f.select :year, [Date.today.year, Date.today.year+1], {}, :class => 'form-control'
      = f.hidden_field :year_accuracy
    .col-xs-6.col-sm-4.col-md-2
      .form-group
        = f.label :blocking_until, map_attribute_label(:blocking_until, :edit)
        = f.select :blocking_until, ((Date.today.year..Date.today.year+9).to_a + [0]).sort.reverse, {}, :class => 'form-control'
    .col-xs-12.col-sm-4.col-md-2
      .form-group
        .checkbox.is-in-sm-grid-form
          = f.label :is_educational do
            = f.check_box :is_educational
            = map_attribute_label :is_educational, :edit

  .row
    .col-md-9.col-lg-6
      .form-group
        = f.label :oris_event_id, map_attribute_label(:main_race, :edit)
        = f.select :oris_event_id, "<option value=\"0\"#{f.object.oris_event_id == 0 ? 'selected' : ''}>(žádný závod)</option>".html_safe + options_from_collection_for_select(f.object.year ? OrisEvent.in_year(f.object.year) : OrisEvent.sorted, :id, :to_label, f.object.oris_event_id), {:include_blank => true}, :class => 'form-control'
    .col-sm-4.col-md-3.col-lg-2
      .form-group
        = f.label :main_race_date, map_attribute_label(:main_race_date, :edit)
        = f.text_field :main_race_date, :class => 'form-control', :type => 'date'
    .col-sm-8.col-md-6
      .form-group
        = f.label :main_race_title, map_attribute_label(:main_race_title, :edit)
        = f.text_field :main_race_title, :class => 'form-control'
    .col-sm-12.col-md-6
      .form-group
        = f.label :non_oris_event_url, map_attribute_label(:non_oris_event_url, :edit)
        = f.text_field :non_oris_event_url, :class => 'form-control'

  .row
    .col-sm-6.col-md-3.col-lg-2
      .form-group
        = f.label :map_sport, map_attribute_label(:map_sport, :edit)
        = f.select :map_sport, Map::MAP_SPORTS.map{|x| [t("mapserver.map_enums.map_sport.#{x}"), x]}, {:include_blank => true}, :class => 'form-control'
    .col-sm-6.col-md-3
      .form-group
        = f.label :map_type, map_attribute_label(:map_type, :edit)
        = f.select :map_type, Map::MAP_TYPES.map{|x| [t("mapserver.map_enums.map_type.#{x}"), x]}, {:include_blank => true}, :class => 'form-control'
    .col-xs-6.col-md-2
      .form-group
        = f.label :scale, map_attribute_label(:scale, :edit)
        .input-group
          %span.input-group-addon 1:
          = f.select :scale, %w{20000 15000 12500 10000 7500 5000 4000 2500}, {:include_blank => true, :class => 'form-control', :style => 'width: 80px'}
    .col-xs-6.col-md-2
      .form-group
        = f.label :equidistance, map_attribute_label(:equidistance, :edit)
        .input-group.has-input-group-addon-after-select2
          = f.select :equidistance, %w{10.0 5.0 2.5 2.0}, {:include_blank => true, :class => 'form-control', :style => 'width: 60px'}
          %span.input-group-addon m

  :javascript
    $(function() {
      $('#map_equidistance, #map_scale').select2({
        tags: true,
        theme: "bootstrap",
        width: "100%"
      });
    });
  - if patrons.size != 1
    :javascript
      $('#map_patron').select2({
        tags: true,
        theme: "bootstrap",
        width: "100%"
      });

  %h2 Obrys mapy

  = render :partial => 'form_inline_map', :locals => {:f => f}

  %div(style="margin-top:20px;margin-bottom:40px")
    %button(type="button" class="btn btn-primary submit-btn" id="map_form_submit_button") Uložit mapu

:javascript
  var map;
  var polygon;

  $(function() {
    map = setupMap(document.getElementById('inline_map_canvas'), false);
    setupMapEditor(map);
    setPolygon(map);
    setupMapEditorSubmit();
    fixMapHeight($('#inline_map_canvas'));

    $("#map_oris_event_id").select2({
      allowClear: true,
      theme: "bootstrap",
      width: "100%"
    }).val('#{@map.oris_event_id}');

  });

- if @map.shape_json.blank?
  :javascript
    function setPolygon(themap) {}
- else
  :javascript
    function setPolygon(themap) {
      coordinates = [#{(JSON[@map.shape_json].map{|x| %{new google.maps.LatLng("#{x[0]}", "#{x[1]}")}} * ", ").html_safe}];
      polygon = new google.maps.Polygon({
        paths: coordinates,
        editable: true
      });
      polygon.setMap(map);
      var bounds = new google.maps.LatLngBounds();
      for (var i = 0; i < coordinates.length; i++)
        bounds.extend(coordinates[i]);
      if (coordinates.length > 0)
        map.fitBounds(bounds);
    }
