%h1
  - case @map.map_family
  - when Map::MAP_FAMILY_MAP
    = "#{t("mapserver.mapTitle.map")} #{@map}"
  - when Map::MAP_FAMILY_EMBARGO
    = "#{t("mapserver.mapTitle.embargo")} #{@map}"

%h2= t("mapserver.mapBasicData")

- if @map.is__proposal?

  .info-table.table-responsive
    %table.table.table-bordered.table-condensed
      %tbody
        %tr
          %th= t("mapserver.map_attributes.scale")
          %td 1:#{@map.scale}
          %th= t("mapserver.map_attributes.equidistance")
          %td #{@map.equidistance}m
          %th= t("mapserver.map_attributes.map_sport")
          %td= t("mapserver.map_enums.map_sport.#{@map.map_sport}") unless @map.map_sport.blank?
          %th= t("mapserver.map_attributes.map_type")
          %td
            - unless @map.map_type.blank?
              = t("mapserver.map_enums.map_type.#{@map.map_type}")
              = icon('question-circle', tooltip: t("mapserver.map_enum_descriptions.map_type.#{@map.map_type}") )
        %tr
          %th= t("mapserver.map_attributes.year")
          %td
            = @map.year
          %th= t("mapserver.map_attributes.created_by")
          %td(colspan=3) #{@map.created_by ? print_user(@map.created_by) : "archiv ČSOS"}
          %th= t("mapserver.map_attributes.patron")
          %td= link_to @map.club, @map.club
        - if @map.oris_event
          %tr
            %th= t("mapserver.map_attributes.main_race_title")
            %td(colspan=4)= @map.oris_event.title
            %td(colspan=1)= link_to "ORIS", @map.oris_event.oris_url
            %th= t("mapserver.map_attributes.main_race_date")
            %td= @map.oris_event.date

- else

  = render :partial => 'maps/info_table', :locals => {:map => @map}

- unless @map.shape_as_coords.empty?

  %h2 Obrys mapy

  %div#inline_map_canvas(style="width:100%;min-height:400px;height:400px")

  :javascript
    let polygon;

    $(window).load(function() {
      map = setupMap(document.getElementById('inline_map_canvas'), false);
      polygon = setMapPolygon(map, polygon, [#{@map.shape_json.blank? ? nil : (JSON[@map.shape_json].map{|x| %{new google.maps.LatLng("#{x[0]}", "#{x[1]}")}} * ", ").html_safe}], false);
    });

%h2 Náhled

- if @map.has_jpg

  - if @map.has_jpg?
    = image_tag @map.preview_path, :style => 'max-width:100%'
  - else
    %div.well Pro tuto mapu není náhled dostupný (chyba na straně serveru).

  %div.well
    = t("mapserver.previewCopyright")
    - unless @map.administrator_email.blank?
      = mail_to @map.administrator_email, icon('envelope', tooltip: 'e-mail na správce mapy')

- else

  %div.well Pro tuto mapu není náhled dostupný.
