= form_for [:backend, text], :html => {:role => 'form', :class => 'form-horizontal'} do |f|
  %div.form-group
    = f.label :name, :class => 'col-sm-2'
    = f.text_field :name, :class => 'col-sm-6'
  %div.form-group
    = f.label :body_cs, :class => 'col-sm-2'
    = f.text_area :body_cs, :class => 'col-sm-9', :rows => 20
  %div.form-group
    = f.label :body_en, :class => 'col-sm-2'
    = f.text_area :body_en, :class => 'col-sm-9', :rows => 20
  %div.form-group
    %div.col-sm-2
    %div.col-sm-6
      = f.submit 'Uložit'

/= render :partial => 'shared/textile'      