.auth-form
  %h1 Přihlášení

  %p Abyste si nemuseli pamatovat další jméno a heslo, doporučujeme přihlášení pomocí vašeho Google nebo Facebook účtu (mapový portál je použije pouze k ověření tvojí identity, k ničemu jinému). Pokud tento způsob nemůžete nebo nechcete využít, můžete se níže zaregistrovat klasicky pomocí jména a hesla.

  .auth-form-sso-links
    - resource_class.omniauth_providers.each do |provider|
      = link_to login_button(provider.to_s), omniauth_authorize_path(resource_name, provider), method: :post

  %h2 Přihlásit se pomocí jména a hesla

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .row
      .col-sm-5.col-md-4.col-lg-3
        .form-group
          = f.label :email
          = f.email_field :email, :class => 'form-control', :autofocus => true
    .row
      .col-sm-5.col-md-4.col-lg-3
        .form-group
          = f.label :password
          = f.password_field :password, :class => 'form-control'
    - if devise_mapping.rememberable?
      .row
        .col-sm-5.col-md-4.col-lg-3
          .checkbox
            = f.label :remember_me do
              = f.check_box :remember_me
              = t('activerecord.attributes.user.remember_me')

    = f.submit "Přihlásit", :class => 'btn btn-primary'

  = render "devise/shared/links"
