%h1.login Přihlášení

%p
  - resource_class.omniauth_providers.each do |provider|
    = link_to login_button(provider.to_s), omniauth_authorize_path(resource_name, provider), method: :post

%p Abyste si nemuseli pamatovat další jméno a heslo, doporučujeme přihlášení pomocí vašeho Google nebo Facebook účtu (mapový portál je použije pouze k ověření tvojí identity, k ničemu jinému). Pokud tento způsob nemůžete nebo nechcete využít, můžete se níže zaregistrovat klasicky pomocí jména a hesla.

%h4(style="margin-top:32px") Přihlásit se pomocí jména a hesla

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    .col-sm-5.col-md-4.col-lg-3
      .form-group
        = f.label :email
        = f.email_field :email, :class => 'form-control', :autofocus => true
  .row
    .col-sm-5.col-md-4.col-lg-3
      .form-group
        = f.label :password
        = f.password_field :password, :class => 'form-control'
  - if devise_mapping.rememberable?
    .row
      .col-sm-5.col-md-4.col-lg-3
        .checkbox
          = f.label :remember_me do
            = f.check_box :remember_me
            = t('activerecord.attributes.user.remember_me')

  = f.submit "Přihlásit", :class => 'btn btn-primary'

.login-form-links
  = link_to "Zapomenuté heslo?", new_password_path(resource_name)
  = link_to "Zaregistrovat nový účet", new_registration_path(resource_name)
  = link_to "Nedostal jsi aktivační e-mail?", new_confirmation_path(resource_name)
