= form_for issue_report, remote: remote, :html => {:role => 'form'} do |f|
  = f.hidden_field :map_id
  .row
    - if issue_report.user
      .col-xs-6.col-sm-4.col-md-3.col-lg-2
        .form-group
          = f.label :user_id, 'Vloženo uživatelem'
          = f.hidden_field :user_id
          %p.form-control-static= issue_report.user.name
      .col-xs-6.col-sm-4.col-md-3.col-lg-2
        .form-group
          = f.label :email, 'E-mail'
          = f.hidden_field :email
          %p.form-control-static= issue_report.email
    - else
      .col-sm-6.col-md-5.col-lg-4
        .form-group
          = f.label :email, 'E-mail'
          = f.text_field :email, {"aria-describedby" => "issue-report-email-desc", :class => 'form-control'}
          %p#issue-report-email-desc.help-block Prosíme, vyplňte svůj email, abychom se mohli případně ozvat, pokud bychom potřebovali nějaké upřesnění, anebo aspoň poděkovat.
  .row
    .col-sm-9.col-md-7.col-lg-6
      .form-group
        = f.label :message, 'Text zprávy'
        = f.text_area :message, :class => 'form-control', style: 'min-height:140px'
  .row
    .col-sm-12
      = f.submit 'Odeslat', class: 'btn btn-danger'
