%h1 Správa uživatelů

.data-table.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th{:scope => "column"} ID
        %th{:scope => "column"} e-mail
        %th{:scope => "column"} jméno
        %th{:scope => "column"} registrační číslo
        %th{:scope => "column"} role
        %th{:scope => "column"} kraje
        %th{:scope => "column"} kluby
        %th{:scope => "column"}
          .sr-only akce
    %tbody
      - User.all.sort_by(&:name_for_sort).each do |user|
        %tr
          %td= user.id
          %td= user.email
          %th{:scope => "row"}= link_to user.name, [:backend, user]
          %td= user.oris_registrations
          %td
            = (!user.role.blank?) ? t("roles.#{user.role}") : ""
            - if !user.above_role_authorizations.blank?
              #{icon 'exclamation-circle', tooltip: "#{User.human_attribute_name(:above_role_authorizations)}: #{user.above_role_authorizations_to_s}"}
          %td= user.authorized_regions
          %td= user.authorized_clubs
          %td
            = link_to icon('edit', tooltip: 'Upravit'), [:edit, :backend, user]
            - if admin? and user.confirmed?
              = link_to icon('github', tooltip: 'Přepnout na uživatele'), [:become, :backend, user]
            = link_to icon('times', tooltip: 'Smazat'), [:backend, user], method: :delete, data: {confirm: "Opravdu chceš smazat uživatele #{user}?"}
