#searchResult(style="display:none")
  .content
    .header
      .search-result-header-base
        %h2#sideHeading= t("mapserver.sideBarQuickHelpH1")
        %h2#sideHeadingResults.hidden= t("mapserver.sideBarResults")
        %a.hide_search_results_button(href="#")= t("mapserver.hideSideBar")
      #sideHeadingLinks
    %ul#resultsList
    #news.contentText= text(:news)
    #quickHelp.contentText= text(:quick_help)
    #waiting(style="display:none")= image_tag("/img/working.gif")
