.search-result(style="display:none")
  .content
    .search-result-header
      .search-result-header-base
        %h2.search-result-heading= t("mapserver.sideBarQuickHelpH1")
        - unless @map_title
          %button.search-result-hide(type="button")= t("mapserver.hideSideBar")
      .search-result-header-links
    %ul.search-result-list
    #news.contentText= text(:news)
    #quickHelp.contentText= text(:quick_help)
    #waiting(style="display:none")= image_tag("/img/working.gif")
