.toolbar
  .toolbar-bar{:class => ("has-search-and-tools" unless @map_title)}
    = link_to image_tag("/img/mapovy-portal-logo.svg", :alt => t("mapserver.mainLogoTitle"), :title => t("mapserver.mainLogoTitle")), :root, {:class => 'toolbar-logo'}
    - if @map_title
      .toolbar-title= @map_title
    - else
      %form.toolbar-search(role="search")
        %label.sr-only{:for => "toolbar-map-search"}= t("mapserver.searchBoxForm")
        %input#toolbar-map-search.toolbar-search-input{:type => "text", :name => "search", :placeholder => t("mapserver.searchBoxForm")}
        %button.toolbar-search-submit{:type => "submit"}= t("mapserver.search")
        %button{:type => "button", :class => "toolbar-advanced-search-expand"}
          = t("mapserver.advancedSearch")
      %ul.tools-list
        / TODO : rename tool-XX to semantic names
        %li= link_to image_tag("/img/tool-01.png", alt: t("mapserver.buttonPrint")), "javascript:void(0)", id: "map_tool_print_button", title: t("mapserver.buttonPrint")
        %li= mail_to "mapovyportal@ceskyorientak.cz?subject=#{t("mapserver.emailSubject")}", image_tag("/img/tool-02.png", alt: t("mapserver.buttonMail")), title: t("mapserver.buttonMail")
        %li= link_to image_tag("/img/tool-03.png", alt: t("mapserver.buttonUrlLink")), "javascript:void(0)", id: "map_tool_url_button", title: t("mapserver.buttonUrlLink")
        %li= link_to image_tag("/img/tool-04.png", alt: t("mapserver.buttonMeasure")), "javascript:void(0)", id: "map_tool_measure_button", title: t("mapserver.buttonMeasure")
        %li= link_to image_tag("/img/tool-05.png", alt: t("mapserver.buttonHelp")), "javascript:void(0)", id: "map_tool_help_button", title: t("mapserver.buttonHelp")
  - unless @map_title
    = render :partial => 'advanced_search'
