%div#titlebar
  %div.folder
    = link_to image_tag("/img/mapovy-portal-csos-#{I18n.locale}.png", :id => 'logo', :alt => t("mapserver.mainLogoTitle"), :title => t("mapserver.mainLogoTitle")), :root
    %div.text
      #{@map_collection.title}
%a.linkShowResults{:href => "#", :title => t("mapserver.showSideBar")}
  %span.oos= t("mapserver.showSideBar")
= render :partial => 'search_results'
%div#map_canvas
= render :partial => 'basemap_switch'
= render :partial => 'toc'
= render :partial => 'logos'

:javascript
  $(function() {
    initMap();
    initMapsLayer();
    initMapComponents();
    initLayout();
    searchSimple.searchByFilter("ID IN (#{@map_collection.map_ids.map(&:to_s) * ","})");
  })
