!!! 5
%html{:lang => I18n.locale}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title= t('mapserver.title')
    = csrf_meta_tags
    = stylesheet_link_tag "_info_table", :media => "all"
    = javascript_include_tag "https://maps.google.com/maps/api/js?key=#{GOOGLE_API_KEY}&language=#{I18n.locale}&libraries=drawing,geometry"
    = javascript_include_tag "https://www.google.com/jsapi"
    = javascript_include_tag "https://apis.google.com/js/client.js"
    :javascript
      google.load('visualization', '1', {});
    - if current_user
      :javascript
        function loadUserConfig() {
          Config.user = #{current_user.to_json.html_safe};
        };
    - else
      :javascript
        function loadUserConfig() {
        };
    = javascript_include_tag "_public"
    = javascript_include_tag "_minimap"
    = javascript_include_tag "mapserver/locale/#{I18n.locale}"

  %body
    = yield
